*{
    margin: 0;
    padding: 0;
}

.header__div h1{ 
    font-weight: 500;
    font-size: 70px;
    font-family:'Teko', sans-serif;
    font-style:italic;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 5%;
    letter-spacing: 3px;
    line-height: 1;
    text-decoration: underline;
}

.header__div{
    display: flex; 
    align-items:center;
    flex-direction: column;
    background-image: url(../img/banner-click.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    height:400px;
    min-height: 175px;
}

.logo_banner{
    height: 21%;
    width: 8%;
    z-index: 10;
    min-height: 110px;
    min-width: 81px;
    padding-top: 1rem;
}

.navegador{
    background-color: rgba(254, 254, 254, 0.938);
    position: sticky;
    top: 0%;
    z-index: 10;   
    border-bottom: solid 1px;
    border-color: black;
    padding: 1rem 0rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navegador ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;   
    justify-content: space-evenly; 
    align-items: center;
    margin: 0; 
}

.navegador li{
    display: inline-block;
    padding: 0rem 1rem;
    transition: 175ms;
}
.navegador li:hover{
    transform: scale(1.03);
}
.navegador li:hover::after{
    content: "▼";
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3b5998;
}

.navegador a{
    color: rgb(0, 2, 2);
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-decoration: none;
}
.navegador a:hover{
    text-decoration:underline 1px; text-decoration-color: royalblue;
}

.fa-house{
    font-size: 30px;
    color: rgb(32, 25, 25);
    text-decoration: none;
}

img{
    max-width:100%;
    max-height: 100%;
    width:100%;
    object-fit: cover;
}

.introduccion_msg{  
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.introduccion_msg div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 28rem;
    width: 40%;
    text-align:center;
    padding:1rem 0 ;
}

.introduccion_msg h2{
    color: white;
    font-size: 44px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1;    
}

.introduccion_msg p{
    color: rgb(255, 254, 254);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    margin-top: 1rem;    
}

.bienvenidos{
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bienvenidos div{
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.bienvenidos div h2{
    color: white;
    font-size: 78px;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: underline 4px;
}

.bienvenidos div p{ 
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height:1.2;  
    color: white;
}



                                /* INICIO */

.inicio{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 4rem 1rem;
    margin: 0 1rem ;
    border-bottom: solid 1px;
    border-color: black;
    flex-flow:wrap;
}

.inicio__div{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 3rem;
}

.inicio__inversa{   
    padding: 0 3rem 0 0;    
}

.inicio__titulo{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Teko', sans-serif;
    text-align:left;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-decoration:  2px underline;
    text-decoration-color: royalblue;
    max-width: 66%;   
}

.inicio__parrafo{
    color: rgb(3, 0, 0);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size:large;
    font-weight: 600;
    line-height:1.2;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.inicio__boton{
    outline: none;
    border: none;
    background-color: rgb(95, 212, 248);
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio__boton:hover{
    background-color: rgb(115, 180, 200);
}

.inicio__link{
    text-decoration:underline; 
    text-decoration-color: rgb(2, 5, 51);
    color: rgb(2, 5, 51);
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.inicio__img{
    background-color: black;
    background-size: cover;
    max-width: 50%; 
        
}



                                /* PRODUCTOS */ 

.productos__grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "filtros filtros filtros"
                         "prd1 prd2 prd3"
                         "prd4 prd5 prd6"
                         "prd7 prd8 prd9";
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    justify-items: center;   
    padding: 0px 0px 4rem 0px; 
    gap: 2rem 0;                      
}

.filtros{
    grid-area: filtros;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none;
    font-size: 16px;
    border-color: rgb(44, 42, 42); 
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(27,24,24,1) 55%, rgba(54,54,54,1) 100%);
}

.filtros__lista{
    color: white;
    padding: 2px 2rem;
    border-left:solid 1px;
    border-right:solid 1px;
    border-color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif; 
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    transition: 500ms;
}
.productos:hover{
    transform: scale(1.05);
}

.productos__nombre{
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 600;
    font-size: 22px;
}



                                /* INFORMACION */
                                
.informacion_grillas{
    display: grid;
    justify-content: space-evenly;
    justify-items:center;  
    align-content: center;
    gap: 5rem;
    padding-bottom: 5rem;
}

.informacion_titulo{
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration:underline double 2px;
}

.informacion_parrafo{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size:20px;
    font-weight: 600;
    line-height:1.2;
}

.informacion_general{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
    text-align: center;
    justify-content: center;
}

.grilla_mouses{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"imgmouse imgmouse imgmouse" 
    "infmouse1 infmouse2 infmouse3";
}

.imagen_inf_mouse{
    grid-area: imgmouse;
    width: 100%;
}

.informacion_mouses{ 
    width: 80%;
}

.informacion_mouses_img{
    width: 60%;
    padding-top: 1rem;
}

.grilla_pad{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"imgpad imgpad imgpad"
                        "infpad1 infpad1 infpad1"
                        "infpad2 . infpad3";              
}

.imagen_inf_pad{
    grid-area: imgpad;
    width: 100%;
}

.informacion_pad{
    width: 80%;
}

.tipos_pad-uno{
    grid-area: infpad2;
}

.tipos_pad-dos{
    grid-area: infpad3;
}

.pad_descripcion{
    grid-area: infpad1;
    width: 30%;
}

.grilla_bungee{
    grid-template-columns: 1fr;
    grid-template-areas:"imgbung" 
                        "infbungee1";
}

.imagen_inf_bungee{
    grid-area: imgbung;
    width: 100%;
}

.informacion_bungee{
    width: 55%;
}

.grilla_simulador{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"imgsim imgsim" 
                        "infsimulador1 infsimulador2";
}

.imagen_inf_simulador{
    grid-area: imgsim;
    width: 100%;
}

.informacion_simulador{
    width: 80%;
}



                                /* COMUNIDAD */

.comunidad_banner{
    background-image:url(../img/gente-jugando.jpg);
    height: 1100px;
}                                

.comunidad_fotos_grilla{
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    padding: 4rem 1rem;
    align-content: center;
    justify-content: center;
    margin: 0rem 1rem ;
    border-bottom: solid 1px;
    border-color: black; 
}

.comunidad_fotos_grilla img{
    border: solid 3px;
    border-color: black;
    width: 100%;
    height: 100%;
    transition: 400ms;
}
.comunidad_fotos_grilla img:hover{
    transform: scale(1.06);
}

.comunidad_noticias_grilla{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;  
    justify-items: center;
    align-content: center;
    padding: 5rem 1rem 1rem 1rem;
}

.comunidad_noticias{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
    text-align: center;
    width: 65%;
    padding-bottom: 5rem;
}



                                /* CONTACTO */

.contactos_banner{
    background-image:url(../img/gente-jugando.jpg); /* voy a cambiar la imagen*/
    height: 1100px;
}   

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 3rem 0rem;
    margin: 0rem 1rem ;
    border-bottom: solid 1px;
    border-color: black; 
    gap: 4rem;   
}

form{ 
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1rem;
}

.formulario__texto{
    width: 90%;
    display: flex;
    flex-direction: column;   
    padding-left: 4rem;  
    gap: 2rem; 
}

.preguntas_grilla{
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    margin: 0rem 1rem ;
    border-bottom: solid 1px;
    border-color: black;   
}

.accordion-item{
    width: 100%;
}

.contacto_grilla-abajo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-items:center;
    align-items: center;
    padding: 4rem 0rem;
}

                                /* FOOTER */

footer{ 
    background-color: rgb(29, 28, 28);
    margin-top: 2px;  
}

.footer_subtitulo{
    color: rgb(255, 255, 255); 
    display: flex;
    list-style-type: none;   
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: larger;  
    justify-content: space-between;  
    flex-wrap: wrap;
}

.footer_div{
    color: white;
    padding: 60px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_links{
    color: white;
    text-decoration: none;  
}

.iconos_redes{
    display:flex;
    flex-direction: row;
    font-size: 2.5rem;
    justify-content: space-between;
    gap: 5rem;
}

.fa-instagram-square:hover{
    color: rgb(226, 87, 133); 
    transform: scale(1.1);
}
.fa-twitter-square:hover{
    color: #1DA1F2;
    transform: scale(1.1);
}
.fa-facebook-square:hover{
    color: #3b5998;
    transform: scale(1.1);
}
.fa-whatsapp-square:hover{
    color: #25D366;
    transform: scale(1.1);
}

.notificaciones{
    display: flex;
    background-color: rgb(238, 255, 85);
    color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 2px;
    border-radius: 5px;
    align-items: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
   
.notificaciones h2{
    font-family:'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    height: 16px;
}

.notificaciones div{
    display: flex;
    flex-direction: row;
    height: 32px;
}




@media only screen and (max-width:600px){
    .header__div h1{
        font-size: 50px;
    }
    .navegador{
        position: static;
    }
    .navegador ul{
        flex-direction: column;
    }
    .inicio{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-flow: wrap;
        gap: 1rem;
    }
    .inicio__div{
        max-width: 100%;
        padding: 10px 10px;
        gap: 1rem;
    }
    .inicio__inversa{
        padding: 10px 10px;
    }
    .inicio__img{
        max-width: 60%;
    }
    .reversa{
        flex-flow: wrap-reverse;
    }
    .inicio__titulo{
        font-size: 40px;
        max-width: 70%;
    }
    .inicio__parrafo{
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 1.3;
    }
    .footer_subtitulo{
        font-size:18px;
        flex-direction: column;
        gap: 1rem;
    }
    .footer_div{
        flex-direction: column;
        padding: 10px 5px 7px 5px;
    }
    .iconos_redes{
        gap: 9rem;
    }
                            /* PRODUCTOS */
   .productos__grilla{
    grid-template-columns: 1fr;
    grid-template-areas: "filtros"
                         "prd1" "prd2" "prd3"
                         "prd4" "prd5" "prd6"
                         "prd7" "prd8" "prd9";  
    padding: 0px 0px 3rem 0px;
    gap: 1rem;
    }
    .filtros{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .filtros__lista{
        padding: 0;
        border-left:0;
        border-right:0;
    }                       
    .productos{
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
                                /* INFORMACION */ 
    .introduccion_msg div{
    width: 70%;
    }
    .grilla_mouses{
    grid-template-columns: 1fr;
    grid-template-areas:"imgmouse" 
    "infmouse1" "infmouse2" "infmouse3";
    }
    .informacion_mouses_img{
        width: 30%;
    }
    .grilla_pad{
    grid-template-columns: 1fr;
    grid-template-areas:"imgpad"
                        "infpad1"
                        "infpad2" 
                        "infpad3";              
    }   
    .pad_descripcion{
    grid-area: infpad1;
    width: 80%;
    }
    .informacion_bungee{
        width: 80%;
    }
    .grilla_simulador{
        grid-template-columns: 1fr;
        grid-template-areas:"imgsim" 
                            "infsimulador1"
                            "infsimulador2";
    }
    .informacion_titulo{
        font-size: 30px;
    }
    .informacion_parrafo{
        font-size:16px;
    }
                                /* COMUNIDAD */   
    .bienvenidos div{
        width: 80%;
    }
    .bienvenidos div h2{
        font-size: 50px;  
    }      
    .comunidad_fotos_grilla{
        grid-template-columns: 90%;
    }
    .comunidad_noticias_grilla{
        grid-template-columns: 90%;
    } 
    .comunidad_noticias{
        width: 80%;
    } 
                                /* CONTACTO */  
    .formulario{
        grid-template-columns: 1fr;      
    }
    form{
        width: 100%;
    }
    .formulario__informacion{
        width: 100%;
    }
    .formulario__texto{
        width: 80%;
        padding: 0%;
    }
    .preguntas_grilla{
        grid-template-columns: 1fr; 
    }
    .contacto_grilla-abajo{
        grid-template-columns: 1fr;
    }
}
