/* COMUNIDAD */

.comunidad_banner{
    background-image:url(../img/gente-jugando.jpg);
    height: 1000px;
}                                

.comunidad_fotos_grilla{
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    padding: 4rem 1rem;
    align-content: center;
    justify-content: center;
    border-bottom: solid 1px;
    border-color: black; 
    background-color: $colorPrincipal;

    img{
        border: solid 3px;
        border-color: black;
        width: 100%;
        height: 100%;
        transition: 400ms;

        &:hover{
            transform: scale(1.06);
        }
    }
}

.comunidad_noticias_grilla{
    @extend .informacion_grillas;
    grid-template-columns: 30% 30% 30%;
    padding: 5rem 1rem 1rem 1rem;
    gap: 0;

    .comunidad_noticias{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items:center;
        text-align: center;
        width: 65%;
        padding-bottom: 5rem;
    }
}