/* INICIO */

.inicio{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 4rem 1rem;
    margin: 0 1rem;
    border-bottom: solid 1px;
    border-color: black;
    flex-flow:wrap;
    background-color: $colorPrincipal;
}

.inicio__img{
    max-width: 50%; 
    max-height: 600px;
    object-fit: contain;   
}

.inicio__inversa{   
    padding: 0 3rem 0 0;    
}

.inicio__div{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 3rem;

    .inicio__titulo{
        font-size: 66px;
        font-weight: 400;
        font-family: 'Teko', sans-serif;
        text-align:left;
        line-height: 0.9;
        color: $colorTitulos;
        max-width: 77%; 
        display: flex;
        flex-direction: column;
        &::after{
            content:"──";
            letter-spacing: 0;
        }  
    }
    .inicio__parrafo{
        color: $colorParrafos;
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-size:20px;
        font-weight: 600;
        line-height:1.2;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: left;
    }
    .inicio__boton{
        @include botones (rgb(95, 212, 248),rgba(59, 110, 250, 0.966),20px,rgb(2, 5, 51));
        width: 100%;
        padding: 0;
        transition: 300ms;
        .inicio__link{
            text-decoration:underline; 
            text-decoration-color: rgb(2, 5, 51);
        }        
    }
}