@import "variables.scss";
@import "inicio.scss";
@import "productos.scss";
@import "informacion.scss";
@import "comunidad.scss";
@import "contacto.scss";

*{
    margin: 0;
    padding: 0;
}

main{
    overflow: hidden;
    background-color: $colorPrincipal;
}

.header__div{
    display: flex; 
    align-items:center;
    flex-direction: column;
    background-image: url(../img/banner-click.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    height:400px;
    min-height: 175px;

    h1{ 
        font-weight: 500;
        font-size: 70px;
        font-family:'Teko', sans-serif;
        font-style:italic;
        text-align: center;
        color: white;
        padding-top: 5%;
        letter-spacing: 3px;
        line-height: 1;
        text-decoration: underline;
    }

    .logo_banner{
        height: 21%;
        width: 8%;
        z-index: 10;
        min-height: 110px;
        min-width: 81px;
        padding-top: 1rem;
    }
}

.navegador{
    background-color: rgba(254, 254, 254, 0.938);
    position: sticky;
    top: 0%;
    z-index: 10;   
    border-bottom: solid 1px;
    border-color: black;
    padding: 1rem 0rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;   
        justify-content: space-evenly; 
        align-items: center;
        margin: 0; 
    }
    
    li{
        display: inline-block;
        padding: 0rem 1rem;
        transition: 175ms;

        &:hover{
            transform: scale(1.03);
        }
        &:hover::after{
            content: "▼";
            line-height: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #3b5998;
        }
    }
    
    a{
        color: rgb(0, 2, 2);
        font-size: 28px;
        font-family: 'Teko', sans-serif;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-decoration: none;
    
        &:hover{
            text-decoration:underline 1px; text-decoration-color: royalblue;
        }
    }

    .fa-house{
        font-size: 30px;
        color: rgb(32, 25, 25);
        text-decoration: none;
    }
}

img{
    max-width:100%;
    max-height: 100%;
    width:100%;
    object-fit: cover;
}

.introduccion_msg{  
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 28rem;
        width: 40%;
        text-align:center;
        padding:1rem 0 ;

        h2{
            color: white;
            font-size: 44px;
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 1;    
        }
        p{
            color: white;
            font-family: 'IBM Plex Sans Thai Looped', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height:1.2;
            margin-top: 1rem;    
        }
    }
} 

.bienvenidos{
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;

    div{
        position: relative;
        top: 20%;
        display: flex;
        flex-direction: column;
        width: 40%;

        h2{
            color: white;
            font-size: 78px;
            font-family: 'Teko', sans-serif;
            font-weight: 500;
            letter-spacing: 3px;
            text-decoration: underline 4px;
        }
        p{ 
            font-family: 'IBM Plex Sans Thai Looped', sans-serif;
            font-size: 22px;
            font-weight: 500;
            line-height:1.2;  
            color: white;
        }
    }
}

.informacion_titulo{
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration:underline double 2px;
    color: $colorTitulos;
}

.informacion_parrafo{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size:20px;
    font-weight: 600;
    line-height:1.2;
    color: $colorParrafos;
}
 


                                /* FOOTER */

footer{ 
    background-color: rgb(29, 28, 28);
    margin-top: 2px;  
}

.footer_subtitulo{
    color: white; 
    display: flex;
    list-style-type: none;   
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: larger;  
    justify-content: space-between;  
    flex-wrap: wrap;
}

.footer_links{
    color: white;
    text-decoration: none;  
}

.footer_div{
    padding: 60px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .iconos_redes{
        display:flex;
        flex-direction: row;
        font-size: 2.5rem;
        justify-content: space-between;
        gap: 5rem;

        .fa-instagram-square:hover{
            color: rgb(226, 87, 133); 
            transform: scale(1.1);
        }
        .fa-twitter-square:hover{
            color: #1DA1F2;
            transform: scale(1.1);
        }
        .fa-facebook-square:hover{
            color: #3b5998;
            transform: scale(1.1);
        }
        .fa-whatsapp-square:hover{
            color: #25D366;
            transform: scale(1.1);
        }
    }

    .notificaciones{
        display: flex;
        background-color: rgb(238, 255, 85);
        color: rgb(0, 0, 0);
        flex-direction: column;
        gap: 2px;
        border-radius: 5px;
        align-items: center;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;

        h2{
            font-family:'Teko', sans-serif;
            font-weight: 300;
            letter-spacing: 4px;
            height: 16px;
        }
        div{
            display: flex;
            flex-direction: row;
            height: 32px;
        }
    }   
}


                                /* MEDIASQUERY */

@media only screen and (max-width:600px){
    .header__div h1{
        font-size: 50px;
    }
    .navegador{
        position: static;
    }
    .navegador ul{
        flex-direction: column;
    }
    .inicio{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-flow: wrap;
        gap: 1rem;
    }
    .inicio__div{
        max-width: 100%;
        padding: 10px 10px;
        gap: 1rem;
        .inicio__titulo{
            font-size: 40px;
            max-width: 70%;
        }
        .inicio__parrafo{
            font-size: 16px;
            letter-spacing: 0.5px;
            line-height: 1.3;
        }
    }
    .inicio__inversa{
        padding: 10px 10px;
    }
    .inicio__img{
        max-width: 60%;
    }
    .reversa{
        flex-flow: wrap-reverse;
    }
    .footer_subtitulo{
        font-size:18px;
        flex-direction: column;
        gap: 1rem;
    }
    .footer_div{
        flex-direction: column;
        padding: 10px 5px 7px 5px;
    }
    .iconos_redes{
        gap: 9rem;
    }
                                /* PRODUCTOS */
   .productos__grilla{
    grid-template-columns: 1fr;
    grid-template-areas: "filtros"
                         "prd1" "prd2" "prd3"
                         "prd4" "prd5" "prd6"
                         "prd7" "prd8" "prd9";  
    padding: 0px 0px 3rem 0px;
    gap: 1rem;
    }
    .filtros{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .filtros__lista{
        padding: 0;
        border-left:0;
        border-right:0;
    }                       
    .productos{
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
                                /* INFORMACION */ 
    .introduccion_msg div{
    width: 70%;
    }
    .grilla_mouses{
    grid-template-columns: 1fr;
    grid-template-areas:"imgmouse" 
    "infmouse1" "infmouse2" "infmouse3";
        .informacion_mouses{
            .informacion_mouses_img{
            width: 30%;
            }
        }
    }
    .grilla_pad{
    grid-template-columns: 1fr;
    grid-template-areas:"imgpad"
                        "infpad1"
                        "infpad2" 
                        "infpad3";   
        .pad_descripcion{
            grid-area: infpad1;
            width: 80%;
        }           
    }   
    .grilla_bungee{
        .informacion_bungee{
            width: 80%;
        }
    }
    .grilla_simulador{
        grid-template-columns: 1fr;
        grid-template-areas:"imgsim" 
                            "infsimulador1"
                            "infsimulador2";
    }
    .informacion_titulo{
        font-size: 30px;
    }
    .informacion_parrafo{
        font-size:16px;
    }
                                /* COMUNIDAD */   
    .bienvenidos div{
        width: 80%;
    }
    .bienvenidos div h2{
        font-size: 50px;  
    }      
    .comunidad_fotos_grilla{
        grid-template-columns: 90%;
    }
    .comunidad_noticias_grilla{
        grid-template-columns: 90%;
        .comunidad_noticias{
            width: 90%;
        } 
    } 
                                /* CONTACTO */  
    .formulario{
        grid-template-columns: 1fr;    
        .formulario__texto{
            width: 90%;
            padding: 0%;
        }  
        form{
            width: 90%;
        }
    }
    .preguntas_grilla{
        grid-template-columns: 1fr; 
        .contacto_noticias{
            width: 90%;
        } 
    }
    .contacto_grilla-abajo{
        grid-template-columns: 1fr;
    }
}